/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.home-page {
    background-image: url("/static/background.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
    height: 100vh;
    padding-bottom: 50px;
}

header {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    text-align: center;
    margin: 10px 0;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav a:hover {
    color: #007BFF;
}

form {
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 1rem;
}

button {
    background: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: black;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.results-container {
    text-align: center;
    margin-top: 30px;
}

.results-heading {
    font-size: 2.5rem;
    color: black;
    font-weight: bold;
}

.results-box {
    display: inline-block;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 80%;
}

.result-item {
    font-size: 1.2rem;
    color: black;
    margin-bottom: 10px;
}

.result-item:hover {
    color: #007BFF;
}
